ATTRS{idVendor}=="0403", ATTRS{product}=="RigExpert AA-600"{idProduct}=="6001", ATTRS{product}=="RigExpert AA-600", SYMLINK+="rigexpert-aa-600", MODE="660", GROUP="plugdev"
