# Replace xxx with the keyer serial number (or remove it if there is but one).
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="xxx", SYMLINK+="ttyUSB_winkeyer", MODE="660", GROUP="plugdev"
