set timeout=2

serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
terminal_input serial console
terminal_output serial console

menuentry "Linux lts" {
linux	/boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage console=ttyS0,115200
initrd	/boot/intel-ucode.img /boot/amd-ucode.img /boot/initramfs-lts
}
