# Replace xxx with the transceiver serial number.
#
# TODO: Maybe this could be made simpler.
SUBSYSTEMS=="usb", ENV{.FT991_INTERFACE_NUM}="$attr{bInterfaceNumber}"

ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", ATTRS{serial}=="xxx", ENV{.FT991_MATCHES}="1"

ENV{.FT991_MATCHES}=="1", ENV{.FT991_INTERFACE_NUM}!="", SYMLINK+="ttyUSB_ft991_$env{.FT991_INTERFACE_NUM}"
