# Replace xxx with the KAT500 serial number.
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="xxx", SYMLINK+="ttyUSB_kat500", MODE="660", GROUP="plugdev"
