# Digirig
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="fafadb0dbeb1eb11a031b87718997a59", SYMLINK+="ttyUSB_kx2", MODE="660", GROUP="plugdev"

# KXUSB
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AL030VEM", SYMLINK+="ttyUSB_kx2", MODE="660", GROUP="plugdev"
