# Name our USB devices and make pulseaudio leave us alone.

# K3S Codec (TI PCM2901)
SUBSYSTEM=="sound", ATTRS{idVendor}=="08bb", ATTRS{idProduct}=="2901", ENV{PULSE_IGNORE}="1", ATTR{id}="k3s"

# ID 0b05:17f5 ASUSTek Computer, Inc.  This is the ASUS XONAR U5 audio
# adapter attached to the LPPAN panadpter.  Don't allow PulseAudio to
# take it otherwise we can't give it to quisk at 192k.
SUBSYSTEM=="sound", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="17f5", ENV{PULSE_IGNORE}="1", ATTR{id}="lppan_xonar_u5"

# FT-991: Texas Instruments PCM2903B Audio CODEC
SUBSYSTEM=="sound", ATTRS{idVendor}=="08bb", ATTRS{idProduct}=="29b3", ENV{PULSE_IGNORE}="1", ATTR{id}="ft991a"

# 5H V2 USB Dongle
SUBSYSTEM=="sound", ATTRS{idVendor}=="0d8c", ATTRS{idProduct}=="000c",  ENV{PULSE_IGNORE}="1", ATTR{id}="5h_v2"

# Sabrent AU-MMSA USB Dongle
SUBSYSTEM=="sound", ATTRS{idVendor}=="0d8c", ATTRS{idProduct}=="0014",  ENV{PULSE_IGNORE}="1", ATTR{id}="sabrent_au_mmsa"

# DRA-70
SUBSYSTEM=="sound", ATTRS{idVendor}=="0d8c", ATTRS{idProduct}=="013a",  ENV{PULSE_IGNORE}="1", ATTR{id}="dra-70"

# Dinah V4
SUBSYSTEM=="sound", ATTRS{idVendor}=="0d8c", ATTRS{idProduct}=="0012",  ENV{PULSE_IGNORE}="1", ATTR{id}="dinah"

# Digirig for KX2
SUBSYSTEM=="sound", ATTRS{idVendor}=="0d8c", ATTRS{idProduct}=="013c",  ENV{PULSE_IGNORE}="1", ATTR{id}="digirig"

