ATTRS{idVendor}=="1df7", ATTRS{idProduct}=="2500", SYMLINK+="sdrplay-%k", MODE="660", GROUP="plugdev"
ATTRS{idVendor}=="1df7", ATTRS{idProduct}=="3010", SYMLINK+="sdrplay-%k", MODE="660", GROUP="plugdev"
